.page_404 {
    padding: 40px 0;
    background: #fff;
    font-family: "Arvo", serif;
  }
  
  .page_404 img {
    width: 100%;
  }
  
  .four_zero_four_bg {
    background: url("../public/dribbble_1.gif") no-repeat ;
    height: 400px;
    background-position: center;
  }
  
  .four_zero_four_bg h1 {
    font-size: 80px;
    color: #000;
    font-weight: bold;
  }
  
  .page_404 h3 {
    font-size: 28px;
    padding: 20px 0 10px;
    color: #a0051c;
  }
  .page_404 p {
    font-size: 14px;
    color: #bababa;
  }
  .link_404 {
    color: #fff !important;
    padding: 13px 30px;
    background: linear-gradient(284deg, #f14d5c, #a0051c);
    margin: 20px auto !important;
    display:   block;
    width: fit-content;
    border-radius: 2pc;
  }
  .contant_box_404 {
    margin-top: -50px;
  }
  